// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

input {
  keyboard {
    xkb {
      layout "us"
    }
    repeat-delay 300
    repeat-rate 60
  }

  touchpad {
    // off
    tap
    // dwt
    // dwtp
    // drag false
    // drag-lock
    natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-factor 1.0
    // scroll-factor vertical=1.0 horizontal=-2.0
    // scroll-method "two-finger"
    // scroll-button 273
    // scroll-button-lock
    // tap-button-map "left-middle-right"
    // click-method "clickfinger"
    // left-handed
    // disabled-on-external-mouse
    // middle-emulation
  }

  mouse {}
  trackpoint {}
}

// Laptop display (left), bottom-aligned: y = 1080 - 960 = 120
output "eDP-1" {
  // mode "3072x1920@60.001"
  mode "3072x1920@120.000"
  scale 2.0
  position x=0 y=120
  background-color "#282828"
  backdrop-color "#1d2021"
}

// External monitor (right) - 1080p, scale 1
// If your monitor uses DisplayPort, change "HDMI-A-1" to "DP-1" (or DP-2, etc.)
// Run `niri msg outputs` with the monitor plugged in to verify the name.
output "HDMI-A-1" {
  mode "1920x1080@74.986"
  scale 1.0
  position x=1536 y=0
  background-color "#282828"
  backdrop-color "#1d2021"
}

clipboard {
  // middle-click paste
  disable-primary 
}

cursor {
  xcursor-theme "Bibata-Modern-Ice"
  xcursor-size 24
}

environment {
  // Desktop environment identification
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_TYPE "wayland"

  // Qt Wayland support
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

  // GTK Wayland support
  GDK_BACKEND "wayland"

  // Mozilla/Firefox Wayland support
  MOZ_ENABLE_WAYLAND "1"

  // Electron apps Wayland support
  ELECTRON_OZONE_PLATFORM_HINT "wayland"

  // SDL Wayland support
  SDL_VIDEODRIVER "wayland"
}

gestures {
  hot-corners {
    off
  }
}

// Settings that influence how windows are positioned and sized.
layout {
  gaps 0

  center-focused-column "never" // values: "always", "never"
  always-center-single-column
  empty-workspace-above-first
  default-column-display "normal" // values: "normal", "tabbed"

  preset-column-widths {
    proportion 0.382
    proportion 0.618
    // proportion 0.7
  }

  default-column-width { proportion 0.618; } // Make my own display browser relative width pixel more than 1080 (This width is 1090)

  tab-indicator {
    width 2
    gap 0
    length total-proportion=1.0
    position "top"
    place-within-column
    hide-when-single-tab
    active-color "#d79921"
  }

  focus-ring {
    off
    width 2
    active-color "#d79921"
  }

  // You can also add a border. It's similar to the focus ring, but always visible.
  border {
    // off
    width 2
    active-color "#d79921"
    inactive-color "#665c54"
    urgent-color "#cc241d"
  }
}

// Core D-Bus Environment
// This is the most critical line. It tells D-Bus where your window is.
// Without this, portals (file pickers, screen sharing) will fail.
spawn-at-startup "dbus-update-activation-environment" "DISPLAY" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "XDG_SESSION_TYPE" "QT_QPA_PLATFORM" "QT_QPA_PLATFORMTHEME" "GDK_BACKEND" "MOZ_ENABLE_WAYLAND"

// Portals
// OPTIMIZATION: Do NOT manually spawn /usr/libexec/xdg-desktop-portal-*.
// D-Bus will automatically launch the correct portal
// when an app (like Firefox) asks for it. 
// Manually spawning them often creates "zombie" processes or conflicts.

// Audio
// Since you don't use a service manager for user apps,
// spawning these here is the correct "Void way".
// Kill stale processes before starting to allow re-login.
// spawn-at-startup "sh" "-c" "pkill -x pipewire; exec pipewire"
// spawn-at-startup "sh" "-c" "pkill -x pipewire-pulse; exec pipewire-pulse"
// Wait for PipeWire to be ready before starting WirePlumber
// spawn-at-startup "sh" "-c" "pkill -x wireplumber; sleep 1 && exec wireplumber"

// spawn-at-startup "mako"
// spawn-at-startup "waybar" "-c" "/home/ming/.config/waybar/niri/config" "-s" "/home/ming/.config/waybar/niri/style.css"
spawn-at-startup "sh" "-c" "pkill -x quickshell; exec quickshell"

// spawn-at-startup "sh" "-c" "swww-daemon && swww img \"$HOME/pictures/screenshots/screenshot-20260106-025049.png\" --resize crop"
spawn-at-startup "sh" "-c" "pkill -x swww-daemon; swww-daemon && swww img \"$HOME/pictures/wallpapers/wallhaven-yq5ejd.png \" --resize crop"
spawn-at-startup "sh" "-c" "pkill -x fcitx5; exec fcitx5 -r -d"

spawn-at-startup "sh" "-c" r#"\
  pkill -x swayidle; exec swayidle -w \
    timeout 570 'brightnessctl -s set 10' \
        resume 'brightnessctl -r' \
    timeout 600 'swaylock -f' \
    timeout 605 'niri msg output eDP-1 off; niri msg output HDMI-A-1 off' \
        resume 'niri msg output eDP-1 on; niri msg output HDMI-A-1 on' \
    before-sleep 'swaylock -f' \
  "#

spawn-at-startup "sh" "-c" "pkill -x gnome-keyring-daemon; exec gnome-keyring-daemon --start --components=secrets"

// spawn-at-startup "systemctl" "--user" "start" "emacs.service"
// spawn-at-startup "sh" "-c" "pkill -x emacs; exec emacs --daemon"

// Music Player Daemon
// spawn-at-startup "mpd"


hotkey-overlay {
  // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
  skip-at-startup
}

// Dsiable Client-Side Decorations
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/pictures/screenshots/screenshot-%Y%m%d-%H%M%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
  // Uncomment to turn off all animations.
  // You can also put "off" into each individual animation to disable it.
  // off

  // Slow down all animations by this factor. Values below 1 speed them up instead.
  slowdown 0.8
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
// More wiki: https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
/-window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

window-rule {
  // match app-id="kitty"
  match app-id="org.mozilla.firefox" title="Picture-in-Picture"
  match title="Picture in picture"
  match title="Live Caption"
  match app-id="org.gnome.font-viewer"
  match app-id="ffplay"
  match app-id="org.prismlauncher.PrismLauncher" title="Console window for*"
  open-floating true
}

window-rule {
  match app-id="org.mozilla.firefox"
  match app-id="org.chromium.Chromium"
  open-maximized true
}

binds {
  // Compositors level
  Super+Shift+E           { quit; }
  Super+Q                 { close-window; }
  Super+T                 { toggle-column-tabbed-display; }
  Super+F                 { toggle-window-floating; }
  Super+Shift+F           { fullscreen-window; }

  // Workspace and layout
  Super+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
  Super+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }
  Super+Shift+WheelScrollUp             { focus-column-left; }
  Super+Shift+WheelScrollDown           { focus-column-right; }
  Super+WheelScrollRight                { focus-column-right; }
  Super+WheelScrollLeft                 { focus-column-left; }

  Super+Left              { focus-column-left; }
  Super+Right             { focus-column-right; }
  Super+Down              { focus-window-down; }
  Super+Up                { focus-window-up; }
  Super+Home              { focus-column-first; }
  Super+End               { focus-column-last; }

  Super+Shift+Left        { move-column-left; }
  Super+Shift+Right       { move-column-right; }
  Super+Shift+Up          { move-window-up; }
  Super+Shift+Down        { move-window-down; }
  Super+Shift+Home        { move-column-to-first; }
  Super+Shift+End         { move-column-to-last; }

  Super+1 { focus-workspace 1; }
  Super+2 { focus-workspace 2; }
  Super+3 { focus-workspace 3; }
  Super+4 { focus-workspace 4; }
  Super+5 { focus-workspace 5; }

  Super+Shift+1 { move-window-to-workspace 1; }
  Super+Shift+2 { move-window-to-workspace 2; }
  Super+Shift+3 { move-window-to-workspace 3; }
  Super+Shift+4 { move-window-to-workspace 4; }
  Super+Shift+5 { move-window-to-workspace 5; }

  Super+Shift+Page_Down { move-window-to-workspace-down; }
  Super+Shift+Page_Up   { move-window-to-workspace-up; }

  Super+Ctrl+Left        { set-column-width "-10%"; }
  Super+Ctrl+Right       { set-column-width "+10%"; }
  Super+Ctrl+Up          { set-window-height "+10%"; }
  Super+Ctrl+Down        { set-window-height "-10%"; }

  // Monitor navigation (dual monitor)
  Super+Alt+Left          { focus-monitor-left; }
  Super+Alt+Right         { focus-monitor-right; }
  Super+Shift+Alt+Left    { move-column-to-monitor-left; }
  Super+Shift+Alt+Right   { move-column-to-monitor-right; }
  Super+Shift+Ctrl+Left   { move-workspace-to-monitor-left; }
  Super+Shift+Ctrl+Right  { move-workspace-to-monitor-right; }

  Super+W                 { switch-preset-column-width; }
  Super+H                 { switch-preset-window-height; }
  Super+M                 { maximize-column; }
  Super+BracketLeft       { consume-or-expel-window-left; }
  Super+BracketRight      { consume-or-expel-window-right; }
  Super+Comma             { consume-window-into-column; }
  Super+Period            { expel-window-from-column; }

  // Super+Ctrl+L { spawn "systemctl suspend"; }
  Super+Ctrl+L            { spawn "swaylock"; }
  Print                   { spawn "sh" "-c" "niri msg action screenshot | wl-copy"; }
  Ctrl+Print              { screenshot-screen; }
  Super+O                 { spawn "sh" "-c" "/home/ming/.config/niri/scripts/ocr.sh"; }

  // Backlight and Audio
  XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "+5%" ; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-" ; }
  XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
  XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
  XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioPlay         allow-when-locked=true { spawn "playerctl" "play-pause"; }
  XF86AudioPause        allow-when-locked=true { spawn "playerctl" "pause"; }
  XF86AudioNext         allow-when-locked=true { spawn "playerctl" "next"; }
  XF86AudioPrev         allow-when-locked=true { spawn "playerctl" "previous"; }

  // Application
  Super+Space { spawn "sh" "-c" "echo toggle > /tmp/quickshell-summon.fifo"; }
  Super+Return { spawn "foot"; }
}

